h1{
    color: red;
    font-size: 23px;
}

.o{
    margin:60px;
}

.nav-ul{
    color: blue;
    margin-left: 60px;
    
}
.nav-logo{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 60px;
    

}
.nav-li{
    display: inline-block;
    margin-left: 60px;
}
.a-li{
    text-decoration: none;
}
